
---
import { SITE } from '~/utils/config';
---

<div class="flex items-center space-x-2 whitespace-nowrap dark:text-white">
  <img src="/src/assets/images/seedly-logo-removebg.png" alt="{SITE?.name}" style="width: auto; height: 85px;" />
  <span class="text-xl md:text-xl font-bold text-gray-900 whitespace-nowrap dark:text-gray-300">{SITE?.name}</span>
</div>